<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
	<title>Domotique</title>
</head>
<body>
    <div id="appareil"> 
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h2>Les Appareils</h2>
				<ul class="list-group">
					<li v-for="(a, index) in tableau" class="list-group-item" v-bind:class="isOn(a) ? 'list-group-item-success' : 'list-group-item-danger'">
						<h4> {{a.name}} -- {{a.status}}</h4>
						<button @click="on(a)" class="btn btn-success">ON</button>
                        <button @click="off(a)" class="ml-2 btn btn-danger">OFF</button>
                        <button @click="enlever(index)" class="ml-2 btn btn-dark"><i class="fa fa-trash"></i></button>
					</li>
			    </ul>
			<br>
			<button @click="allOn()" class="btn btn-success">ALL ON</button>
			<button @click="allOff()" class="ml-2 btn btn-danger">ALL OFF</button>
            <div class="col-6 mt-4">
                <div class="form-group">
                  <!-- on relie nom au data store -->
                  <input  class="form-control" v-model="name" placeholder="Name">
                </div>
              <button @click="ajouter()" class="ml-4 btn btn-success"><i class="fa fa-plus"></i></button>
            </div>
		</div>
	</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
const app = new Vue(
  {
    el :'#appareil',
    data :
    {
        tableau :
        [
            { name:'TV',status:'allumé'},
            { name:'Xbox',status:'éteint'},
            { name:'PlayStation',status:'allumé'},
        ],
        name: '',
    },
    mounted() {
        if (localStorage.getItem('tableau'))
        {
            try
            {
                this.tableau = JSON.parse(localStorage.getItem('tableau'));
            }
            catch(e) /* Si qqch ne fonctionne pas c'est que les données sont sans doute corrompues donc on les supprime */
            {
                localStorage.removeItem('tableau');
            }
        }
    },
    methods: {
        on(a) {
            a.status = 'allumé';
            this.saveTableau();
        },
        off(a) {
            a.status = 'éteint';
            this.saveTableau();
        },
        allOn() {
            this.tableau.forEach((a, index) => {a.status = 'allumé';});
            this.saveTableau();
        },
        allOff() {
            this.tableau.forEach((a, index) => {a.status = 'éteint';});
            this.saveTableau();
        },
        ajouter() {
            let a ={}; // creation d objet
            a.name = this.name;
            a.status= 'éteint';
            this.name = '';
            // on ajoute ds le tableau
            this.tableau.push(a);
            this.saveTableau();
        },
        enlever(i) {
            this.tableau.splice(i,1);
            this.saveTableau();
        },
        isOn(a='') {
            let test = true;
            if (a.status != 'allumé')
            {
                test = false;
            }
            return test;
        },
        saveTableau() {
            const parsed = JSON.stringify(this.tableau);
            localStorage.setItem('tableau', parsed);
        }
    }
  });
</script>
</body>
</html>